CUBANOS_BR_MARCOS/DASHBOARDOperacional/workflow_n8n_v9.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kommo-webhook-docs",
        "options": {}
      },
      "id": "ce49dc2d-90cd-41f6-8d34-8e6190f630f3",
      "name": "Webhook (Recibe de Kommo)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ -880, 1408 ],
      "webhookId": "generado-automaticamente"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nlet entity_id = null;\nlet text = null;\nlet type = null;\nlet attachment_link = null;\nlet attachment_name = null;\nlet message_id = null;\n\nif (body && body[\"message[add][0][id]\"]) {\n  entity_id = body[\"message[add][0][contact_id]\"] || body[\"message[add][0][entity_id]\"];\n  text = body[\"message[add][0][text]\"];\n  type = body[\"message[add][0][type]\"];\n  attachment_link = body[\"message[add][0][attachment][link]\"];\n  attachment_name = body[\"message[add][0][attachment][file_name]\"];\n  message_id = body[\"message[add][0][id]\"];\n} else if (body && body[\"note[add][0][id]\"]) {\n  entity_id = body[\"note[add][0][contact_id]\"] || body[\"note[add][0][entity_id]\"];\n  text = body[\"note[add][0][params][text]\"];\n  type = \"nota_interna\";\n  message_id = body[\"note[add][0][id]\"];\n}\n\nreturn { json: { entity_id, text, type, attachment_link, attachment_name, message_id } };"
      },
      "id": "d2c4552c-21be-4f5b-8846-0ef259d737d8",
      "name": "Normalizar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -592, 1408 ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clientes",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id_kommo",
              "condition": "eq",
              "keyValue": "={{ $('Webhook (Recibe de Kommo)').item.json.body['message[add][0][contact_id]'] }}"
            }
          ]
        }
      },
      "id": "62c0e17a-cbb4-41b7-8912-dde1b10b7100",
      "name": "Buscar ID Interno",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ -400, 1408 ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7dcbMZavL5HiWiwq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "04a5a9ed-5189-4efb-b25e-548fa264060d",
      "name": "¿Cliente Existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ -432, 1104 ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $('Normalizar Datos').item.json.attachment_link ? 0 : ($('Normalizar Datos').item.json.type === 'nota_interna' ? 2 : 1) }}"
      },
      "id": "b2815151-a8a4-4785-8d4f-6ad2c55122f6",
      "name": "Enrutador",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [ -48, 1152 ]
    },
    {
      "parameters": {
        "url": "={{ $('Normalizar Datos').item.json.attachment_link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "8fe23178-7747-4b71-992a-4e02612cfb7d",
      "name": "Descargar Imagen Kommo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 208, 1200 ]
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst message_id = $('Normalizar Datos').item.json.message_id;\n\n// IMPORTANTE: Pega aquí tu clave secreta de Supabase (service_role)\nconst SUPABASE_KEY = \"PEGA_TU_CLAVE_SERVICE_ROLE_AQUI\";\n\nconst URL = `https://rcqkmaxkuxllcyjzqbvn.supabase.co/storage/v1/object/documentos_operacionales/kommo_${message_id}.jpg`;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: URL,\n    headers: {\n      'Authorization': `Bearer ${SUPABASE_KEY}`,\n      'Content-Type': 'image/jpeg',\n      'x-upsert': 'true'\n    },\n    body: buffer,\n    encoding: null\n  });\n  return { json: { success: true, response } };\n} catch (error) {\n  throw new Error(`Error de Supabase: ${JSON.stringify(error.response?.data || error.message)}`);\n}"
      },
      "id": "code-upload-node",
      "name": "Subir a Supabase Storage (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 416, 1200 ]
    },
    {
      "parameters": {
        "tableId": "documentos_pendientes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cliente_id",
              "fieldValue": "={{ $('Buscar ID Interno').item.json.id }}"
            },
            {
              "fieldId": "url_archivo",
              "fieldValue": "=https://rcqkmaxkuxllcyjzqbvn.supabase.co/storage/v1/object/public/documentos_operacionales/kommo_{{ $('Normalizar Datos').item.json.message_id }}.jpg"
            },
            {
              "fieldId": "nombre_archivo",
              "fieldValue": "kommo_{{ $('Normalizar Datos').item.json.message_id }}.jpg"
            }
          ]
        }
      },
      "id": "87d3018e-6ad3-4fb6-9caa-cd2a078f45f3",
      "name": "Insertar en documentos_pendientes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 608, 1200 ],
      "credentials": {
        "supabaseApi": {
          "id": "7dcbMZavL5HiWiwq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "notas_kommo",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "cliente_id", "fieldValue": "={{ $('Buscar ID Interno').item.json.id }}" },
            { "fieldId": "texto", "fieldValue": "={{ $('Normalizar Datos').item.json.text }}" },
            { "fieldId": "remitente", "fieldValue": "={{ $('Normalizar Datos').item.json.type }}" }
          ]
        }
      },
      "id": "c15ae6b1-cbaa-4968-8331-a73ebf5aef60",
      "name": "Guardar Mensaje WhatsApp",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 208, 1408 ],
      "credentials": {
        "supabaseApi": {
          "id": "7dcbMZavL5HiWiwq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "notas_kommo",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "cliente_id", "fieldValue": "={{ $('Buscar ID Interno').item.json.id }}" },
            { "fieldId": "texto", "fieldValue": "={{ $('Normalizar Datos').item.json.text }}" },
            { "fieldId": "remitente", "fieldValue": "nota_interna" }
          ]
        }
      },
      "id": "00e23a56-4733-400a-a53f-b54626112c67",
      "name": "Guardar Nota Interna",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 208, 1600 ],
      "credentials": {
        "supabaseApi": {
          "id": "7dcbMZavL5HiWiwq",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook (Recibe de Kommo)": {
      "main": [ [ { "node": "Normalizar Datos", "type": "main", "index": 0 } ] ]
    },
    "Normalizar Datos": {
      "main": [ [ { "node": "Buscar ID Interno", "type": "main", "index": 0 } ] ]
    },
    "Buscar ID Interno": {
      "main": [ [ { "node": "¿Cliente Existe?1", "type": "main", "index": 0 } ] ]
    },
    "¿Cliente Existe?1": {
      "main": [
        [ { "node": "Enrutador", "type": "main", "index": 0 } ]
      ]
    },
    "Enrutador": {
      "main": [
        [ { "node": "Descargar Imagen Kommo", "type": "main", "index": 0 } ],
        [ { "node": "Guardar Mensaje WhatsApp", "type": "main", "index": 0 } ],
        [ { "node": "Guardar Nota Interna", "type": "main", "index": 0 } ]
      ]
    },
    "Descargar Imagen Kommo": {
      "main": [ [ { "node": "Subir a Supabase Storage (Code)", "type": "main", "index": 0 } ] ]
    },
    "Subir a Supabase Storage (Code)": {
      "main": [ [ { "node": "Insertar en documentos_pendientes", "type": "main", "index": 0 } ] ]
    }
  }
}
