.git-rewrite/t/CUBANOS_BR_MARCOS/workflow/principal
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cf2f6e48-48f7-413c-be2d-98cd003f00a4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1232,
        672
      ],
      "id": "b4d9c667-09e2-40d0-8c2e-525de1114845",
      "name": "Webhook",
      "webhookId": "cf2f6e48-48f7-413c-be2d-98cd003f00a4"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body['leads[status][0][status_id]'] }}",
              "value2": "142"
            }
          ]
        }
      },
      "id": "44099315-0279-4adf-bb3a-7aa53dfb9e10",
      "name": "IF: ¿Status = 142?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1008,
        672
      ]
    },
    {
      "parameters": {
        "url": "=https://plataformacubanosbroficial.kommo.com/api/v4/leads/{{ $json.body['leads[status][0][id]'] }}?with=contacts,custom_fields_values",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImE5OWE4NWU3MGMxNGQ5Nzg5ZDY3MTc1OWRlZmU4M2QyZTc5ZDI2YTk2YzQ4ZjE5ZjIzNDExMzUwN2U3MzAyZThiZWIwNmYzMTllNjczY2I5In0.eyJhdWQiOiIyY2NjZmM4YS1lZTE4LTRkYTMtOWQ0My1hNzg0NzNiMzM5YzQiLCJqdGkiOiJhOTlhODVlNzBjMTRkOTc4OWQ2NzE3NTlkZWZlODNkMmU3OWQyNmE5NmM0OGYxOWYyMzQxMTM1MDdlNzMwMmU4YmViMDZmMzE5ZTY3M2NiOSIsImlhdCI6MTc4MDkzMjA1MywibmJmIjoxNzgwOTMyMDUzLCJleHAiOjE4MDE1MjY0MDAsInN1YiI6IjEzMzQ5Mjk1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0NzMzNzk1LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiN2M5ZGZmZmYtZTcyYS00ZDNjLWI2ZWYtYWQyZTk4MDUwNTJmIiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.BeNVLTgiSs9SRNMbRSLBpb-4_Cm7pvQDP_2GeG0ctFSvx-8pknWiw8h3OCbmJDCDNmrPS2IMMGAnRDEpSbHp7AZ39I0qv7n45_loMGuZUeFQl66dNhttcR57W5jkLhH32giF2LZpLsCwsLDBKiTppv2h1OgnasLjw73yak4yjXsaoR8_cxXDYAFCrWBfugy7OVyZ6qkkdyHGv4sGVuUfH4eWHCLcbA458KaScj1HC7Ws5uRl5CN0ofdDtCF1AsEK4qROhVj5l_QgYD2nShYoxUz9JNF931S-yxxLtz0pz7guc5dhbC9JlY_G1lWnUCviDi9KwPK5Y33HhKexz-z3HA"
            }
          ]
        },
        "options": {}
      },
      "id": "404ef748-5ed4-4a4d-b0be-57eefa29308f",
      "name": "Consultar Lead Kommo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -784,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "const leadData = $input.first().json.data;\nconst lead = typeof leadData === 'string' ? JSON.parse(leadData) : leadData;\n\nconst contactoId = lead._embedded?.contacts?.[0]?.id;\n\nif (!contactoId) {\n  throw new Error('No hay contacto vinculado al lead');\n}\n\nreturn [{\n  json: {\n    contactoId: contactoId,\n    leadId: lead.id,\n    presupuesto: lead.price || 0,\n    leadData: lead\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        672
      ],
      "id": "5c995079-fba2-45c8-b91b-78f26414c388",
      "name": "Extraer contactoId"
    },
    {
      "parameters": {
        "url": "=https://plataformacubanosbroficial.kommo.com/api/v4/contacts/{{ $json.contactoId }}?with=custom_fields_values",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImE5OWE4NWU3MGMxNGQ5Nzg5ZDY3MTc1OWRlZmU4M2QyZTc5ZDI2YTk2YzQ4ZjE5ZjIzNDExMzUwN2U3MzAyZThiZWIwNmYzMTllNjczY2I5In0.eyJhdWQiOiIyY2NjZmM4YS1lZTE4LTRkYTMtOWQ0My1hNzg0NzNiMzM5YzQiLCJqdGkiOiJhOTlhODVlNzBjMTRkOTc4OWQ2NzE3NTlkZWZlODNkMmU3OWQyNmE5NmM0OGYxOWYyMzQxMTM1MDdlNzMwMmU4YmViMDZmMzE5ZTY3M2NiOSIsImlhdCI6MTc4MDkzMjA1MywibmJmIjoxNzgwOTMyMDUzLCJleHAiOjE4MDE1MjY0MDAsInN1YiI6IjEzMzQ5Mjk1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0NzMzNzk1LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiN2M5ZGZmZmYtZTcyYS00ZDNjLWI2ZWYtYWQyZTk4MDUwNTJmIiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.BeNVLTgiSs9SRNMbRSLBpb-4_Cm7pvQDP_2GeG0ctFSvx-8pknWiw8h3OCbmJDCDNmrPS2IMMGAnRDEpSbHp7AZ39I0qv7n45_loMGuZUeFQl66dNhttcR57W5jkLhH32giF2LZpLsCwsLDBKiTppv2h1OgnasLjw73yak4yjXsaoR8_cxXDYAFCrWBfugy7OVyZ6qkkdyHGv4sGVuUfH4eWHCLcbA458KaScj1HC7Ws5uRl5CN0ofdDtCF1AsEK4qROhVj5l_QgYD2nShYoxUz9JNF931S-yxxLtz0pz7guc5dhbC9JlY_G1lWnUCviDi9KwPK5Y33HhKexz-z3HA"
            }
          ]
        },
        "options": {}
      },
      "id": "2d43305b-f7bf-4f77-b793-f90f625bf5be",
      "name": "Consultar Contacto Kommo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -336,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "const contactoRaw = $input.first().json.data;\nconst contacto = typeof contactoRaw === 'string' ? JSON.parse(contactoRaw) : contactoRaw;\n\nconst leadNode = $('Extraer contactoId').item.json;\nconst lead = leadNode.leadData || {};\n\nconst camposContacto = contacto.custom_fields_values || [];\nconst camposLead = lead.custom_fields_values || [];\n\nconst getField = (campos, nombre) => {\n  const field = campos.find(f =>\n    f.field_name?.toLowerCase().includes(nombre.toLowerCase())\n  );\n  return field?.values?.[0]?.value ?? '';\n};\n\nconst telefonoCampo = camposContacto.find(f => f.field_code === 'PHONE');\nconst emailCampo    = camposContacto.find(f => f.field_code === 'EMAIL');\n\nconst now = new Date();\nconst mes = now.getMonth() + 1;\nconst ano = now.getFullYear();\n\nreturn [{ json: {\n  id_kommo:        String(contacto.id || ''),\n  nombre:          lead.name || contacto.name || '',\n  telefono:        telefonoCampo?.values?.[0]?.value || '',\n  email:           emailCampo?.values?.[0]?.value    || '',\n  valor_total:     parseFloat(leadNode.presupuesto)  || 0,\n  pais:            getField(camposLead, 'país origen'),\n  ciudad:          getField(camposLead, 'ciudad'),\n  estado_federal:  getField(camposLead, 'estado'),\n  atendente:       getField(camposLead, 'atendente'),\n  tramite:         getField(camposLead, 'trámite'),\n  nombre_pix:      getField(camposLead, 'nombre pix'),\n  policia_federal: getField(camposLead, 'policia federal'),\n  prioridad:       getField(camposLead, 'prioridad'),\n  recurrencia:     getField(camposLead, 'recorrencia') || 'NUEVO',\n  id_lead:         String(lead.id || ''),\n  pipeline_id:     String(lead.pipeline_id || ''),\n  status_id:       String(lead.status_id   || ''),\n  mes,\n  ano,\n  fecha:           now.toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' }) + ' ' + now.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' }),\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        672
      ],
      "id": "96a3931f-9ea4-40e7-b5e0-1c4854341b1c",
      "name": "Mapear Datos Completos"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "id_kommo",
              "keyValue": "={{ $json.id_kommo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        112,
        672
      ],
      "id": "0bba7fdb-d6c7-420e-830c-0bb36e98cb1d",
      "name": "Buscar Cliente en BD",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Nty4RoOrdVOLr3YO",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "id_kommo",
              "condition": "eq",
              "keyValue": "={{ $json.id_kommo }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "recurrencia",
              "fieldValue": "={{ ($input.first().json.data[0].recurrencia || 1) + 1 }}"
            },
            {
              "fieldId": "valor_total",
              "fieldValue": "={{ ($('Buscar Cliente en BD').item.json.data[0].valor_total || 0) + $('Mapear Datos Completos').item.json.valor_total }}"
            },
            {
              "fieldId": "cantidad_tramites",
              "fieldValue": "={{ ($('Buscar Cliente en BD').item.json.data[0].cantidad_tramites || 0) + 1 }}"
            },
            {
              "fieldId": "fecha_ultimo_contacto",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "actualizado_en",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        576
      ],
      "id": "fbcb345a-a7f3-41cf-9493-ddfcdbda539e",
      "name": "Actualizar Cliente",
      "credentials": {
        "supabaseApi": {
          "id": "Nty4RoOrdVOLr3YO",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "clientes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_kommo",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.id_kommo }}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.fecha }}"
            },
            {
              "fieldId": "cpf",
              "fieldValue": "1"
            },
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.nombre }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.telefono }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.email }}"
            },
            {
              "fieldId": "valor_total",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.valor_total }}"
            },
            {
              "fieldId": "pais",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.pais }}"
            },
            {
              "fieldId": "ciudad",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.ciudad }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.estado_federal }}"
            },
            {
              "fieldId": "canal_adquisicion",
              "fieldValue": "KOMMO CRM"
            },
            {
              "fieldId": "atendente",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.atendente }}"
            },
            {
              "fieldId": "creado_en",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.fecha }}"
            },
            {
              "fieldId": "estado_cliente",
              "fieldValue": "=nuevo"
            },
            {
              "fieldId": "recurrencia",
              "fieldValue": "0"
            },
            {
              "fieldId": "cantidad_tramites",
              "fieldValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        768
      ],
      "id": "311218c0-529c-4dcc-ae18-812c64fc6d66",
      "name": "Crear Cliente",
      "credentials": {
        "supabaseApi": {
          "id": "Nty4RoOrdVOLr3YO",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let idCliente = null;\n\ntry {\n  const data = $('Actualizar Cliente').first().json;\n  idCliente = Array.isArray(data) ? data[0]?.id : data?.id;\n} catch(e) { /* rama no ejecutada */ }\n\nif (!idCliente) {\n  try {\n    const data = $('Crear Cliente').first().json;\n    idCliente = Array.isArray(data) ? data[0]?.id : data?.id;\n  } catch(e) { /* rama no ejecutada */ }\n}\n\nif (!idCliente) throw new Error('No se obtuvo ID del cliente de ninguna rama');\n\nconst datos = $('Mapear Datos Completos').item.json;\n\nreturn [{ json: {\n  id_cliente:     idCliente,\n  id_kommo:       datos.id_kommo,\n  nombre_pix:     datos.nombre_pix,\n  valor:          datos.valor_total,\n  servicio:       datos.tramite,\n  cliente:        datos.nombre,\n  telefono:       datos.telefono,\n  email:          datos.email,\n  pais:           datos.pais,\n  ciudad:         datos.ciudad,\n  atendente:      datos.atendente,\n  recorrencia:    datos.recurrencia,\n  mes:            datos.mes,\n  ano:            datos.ano,\n  fecha:          datos.fecha,\n  estado_tramite: 'pendiente',\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        672
      ],
      "id": "00536c90-357c-4913-b55b-5298d687e5ed",
      "name": "Preparar Entrada"
    },
    {
      "parameters": {
        "tableId": "entradas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_cliente",
              "fieldValue": "={{ $json.id_cliente }}"
            },
            {
              "fieldId": "id_kommo",
              "fieldValue": "={{ $json.id_kommo }}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "={{ $json.fecha }}"
            },
            {
              "fieldId": "nombre_pix",
              "fieldValue": "={{ $json.nombre_pix }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $json.valor }}"
            },
            {
              "fieldId": "servicio",
              "fieldValue": "={{ $json.servicio }}"
            },
            {
              "fieldId": "cliente",
              "fieldValue": "={{ $json.cliente }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $json.telefono }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "pais",
              "fieldValue": "={{ $json.pais }}"
            },
            {
              "fieldId": "cpf",
              "fieldValue": "1"
            },
            {
              "fieldId": "atendente",
              "fieldValue": "={{ $json.atendente }}"
            },
            {
              "fieldId": "ciudad",
              "fieldValue": "={{ $json.ciudad }}"
            },
            {
              "fieldId": "recorrencia",
              "fieldValue": "={{ $json.recorrencia }}"
            },
            {
              "fieldId": "estado_tramite",
              "fieldValue": "pendiente"
            },
            {
              "fieldId": "id_lead",
              "fieldValue": "={{ $('Mapear Datos Completos').item.json.id_lead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1456,
        672
      ],
      "id": "5cc431d0-68f1-4b44-bbbc-814b85e00acb",
      "name": "Insertar Entrada",
      "credentials": {
        "supabaseApi": {
          "id": "Nty4RoOrdVOLr3YO",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "de56b0ad-7a86-40d6-98c3-b30bb032039f",
              "leftValue": "={{ Array.isArray($json.data) && $json.data.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        672
      ],
      "id": "28667789-defc-4413-b5c8-664561e563c1",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b8b48e47-a52e-4efc-af43-57bae1c2755b",
              "leftValue": "={{ $('Get many rows').item.json.id_lead}}",
              "rightValue": "={{ $('Mapear Datos Completos').item.json.id_lead }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        672
      ],
      "id": "076fce03-a841-4899-8f5a-00e7599a855a",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "entradas",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id_lead",
              "condition": "eq",
              "keyValue": "={{ $('Mapear Datos Completos').item.json.id_lead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        672
      ],
      "id": "ec5ff514-a5d1-4e41-afd0-a79d9b45c912",
      "name": "Get many rows",
      "executeOnce": false,
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Nty4RoOrdVOLr3YO",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {},
      "id": "109a4b18-ed6a-4f94-9543-ef4c5695a28a",
      "name": "Global Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1232,
        352
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "=AtendeJa",
        "remoteJid": "=5548988759979",
        "messageText": "=🚨 *ERROR CRÍTICO EN N8N* 🚨\n\nWorkflow: {{ $json.workflow.name }}\nNodo: {{ $json.execution.error.node?.name || 'Desconocido' }}\nMotivo: {{ $json.execution.error.message }}\n\n🔧 Por favor revisa el panel de n8n para solucionarlo inmediatamente.",
        "options_message": {}
      },
      "id": "cbb351fc-ffac-41f4-8ae5-427b540fab56",
      "name": "WhatsApp — Admin Error Global",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1008,
        352
      ],
      "credentials": {
        "evolutionApi": {
          "id": "1dLEclOYd53FgKhK",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        176,
        256
      ],
      "id": "f18d85be-f2b5-40d6-8684-dfc7f846af40",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "condition": "is",
              "keyValue": "empty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        256
      ],
      "id": "e3f5020d-d854-4134-bdfe-367b1c40e4ce",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "Nty4RoOrdVOLr3YO",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF: ¿Status = 142?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Status = 142?": {
      "main": [
        [
          {
            "node": "Consultar Lead Kommo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Lead Kommo": {
      "main": [
        [
          {
            "node": "Extraer contactoId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer contactoId": {
      "main": [
        [
          {
            "node": "Consultar Contacto Kommo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Contacto Kommo": {
      "main": [
        [
          {
            "node": "Mapear Datos Completos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Datos Completos": {
      "main": [
        [
          {
            "node": "Buscar Cliente en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente en BD": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Cliente": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Cliente": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Entrada": {
      "main": [
        [
          {
            "node": "Insertar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Actualizar Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Preparar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Error Trigger": {
      "main": [
        [
          {
            "node": "WhatsApp — Admin Error Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c2e862245265371e8a9640572ad2c99a3a34e06ee10cdda87475dfa7a5f0d20"
  }
}